<div class="width mx-auto px-3 film">
    <h3 class="font-weight-bold large mb-4 text-center line-height-1">
        <div class="mb-2">上映中・上映予定作品</div>
        <div class="small">MOVIE</div>
    </h3>

    <ul class="theater-select d-flex flex-wrap text-center mb-4">
        {% for theater in theaters %}
        <li>
            <a href="#" class="m-2 d-block py-3 rounded border text-gray border-gray" data-theaterCode="{{ theater.getId() }}">{{
                theater.getNameJa()|theater_name_ja2 }}</a>
        </li>
        {% endfor %}
    </ul>

    <p class="text-center not-select">劇場を選択してください</p>
    <div class="titles d-none">
        <p class="font-weight-bold large mb-4 text-center text-md-left">-上映中作品-</p>

        {% for theater in theaters %}
        <ul class="screening d-flex flex-wrap mb-3" data-theaterCode="{{ theater.getId() }}">
            {% for schedule in screeningSchedules %}
            {% for showingTheater in schedule.getShowingTheaters() %}
            {% if showingTheater.getTheater().getId() == theater.getId() %}
            {% set title = schedule.getTitle() %}
            <li class="mx-2 mb-2">
                <a class="d-block text-white" href="{{ path_for('imax_schedule_show', { schedule: schedule.getId() }) }}">
                    <div class="mb-2">
                        {% if title.getImage() %}
                        <img class="w-100" src="{{ file_url(title.getImage()) }}">
                        {% endif %}
                    </div>
                    <div class="small mb-1">{{ title.getName() }}</div>
                    <div class="type-default"><img class="d-block h-100" src="/images/imax/imax_logo.svg"></div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
        {% endfor %}


        <p class="font-weight-bold large mb-4 text-center text-md-left">-上映予定作品-</p>

        {% for theater in theaters %}
        <ul class="scheduled d-flex flex-wrap" data-theaterCode="{{ theater.getId() }}">
            {% for schedule in soonSchedules %}
            {% for showingTheater in schedule.getShowingTheaters() %}
            {% if showingTheater.getTheater().getId() == theater.getId() %}
            {% set title = schedule.getTitle() %}
            <li class="mx-2 mb-2">
                <a class="d-block text-white" href="{{ path_for('imax_schedule_show', { schedule: schedule.getId() }) }}">
                    <div class="mb-2">
                        {% if title.getImage() %}
                        <img class="w-100" src="{{ file_url(title.getImage()) }}">
                        {% endif %}
                    </div>
                    <div class="small mb-1">{{ title.getName() }}</div>
                    <div class="type-default"><img class="d-block h-100" src="/images/imax/imax_logo.svg"></div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
