<div class="d-md-none">
    <div class="navigation fixed-bottom d-flex text-center shadow-01">
        <div class="flex-fill">
            <a href="{{ path_for('4dx') }}" class="d-block h-100">
                <div class="active">
                    <img src="/images/common/sp_nav_sptop_4dx_act.svg">
                    <p class="x-small mb-0">TOP</p>
                </div>
                <div class="flex-fill disabled">
                    <img src="/images/common/sp_nav_sptop_noact.svg">
                    <p class="x-small mb-0">TOP</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="{{ path_for('4dx_about') }}" class="d-block h-100">
                <div class="disabled">
                    <img src="/images/common/sp_nav_4dx_about_act.svg">
                    <p class="x-small mb-0">4DXとは?</p>
                </div>
                <div>
                    <img src="/images/common/sp_nav_about_noact.svg">
                    <p class="x-small mb-0">4DXとは?</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="{{ path_for('4dx_schedule_list') }}" class="d-block h-100">
                <div class="disabled">
                    <img src="/images/common/sp_nav_4dx_movie_act.svg">
                    <p class="x-small mb-0">作品一覧</p>
                </div>
                <div>
                    <img src="/images/common/sp_nav_special_movie_noact.svg">
                    <p class="x-small mb-0">作品一覧</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="{{ path_for('4dx_news_list') }}" class="d-block h-100">
                <div class="disabled">
                    <img src="/images/common/sp_nav_4dx_news_act.svg">
                    <p class="x-small mb-0">NEWS&INFO</p>
                </div>
                <div>
                    <img src="/images/common/sp_nav_news_noact.svg">
                    <p class="x-small mb-0">NEWS&INFO</p>
                </div>
            </a>
        </div>
        <div class="flex-fill">
            <a href="{{ path_for('4dx_theater') }}" class="d-block h-100">
                <div class="disabled">
                    <img src="/images/common/sp_nav_tinfo_4dx_act.svg">
                    <p class="x-small mb-0">劇場情報</p>
                </div>
                <div>
                    <img src="/images/common/sp_nav_tinfo_noact.svg">
                    <p class="x-small mb-0">劇場情報</p>
                </div>
            </a>
        </div>
    </div>
</div>