{% extends "imax/layout.html.twig" %}

{% block title %}{{ meta_title('imax_schedule_list') }}{% endblock %}

{% block description %}{{ meta_description('imax_schedule_list') }}{% endblock %}

{% block keywords %}{{ meta_keywords('imax_schedule_list') }}{% endblock %}

{% block css %}
<link href="/css/movie/list.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="/js/movie/list.js"></script>
{% endblock %}

{% block navbar %}
{% include 'imax/include/navbar.html.twig' with {
    active: 'title'
} only %}
{% endblock %}

{% block sp_navbar %}
{% include 'imax/include/sp_navbar.html.twig' with {
    active: 'title'
} only %}
{% endblock %}

{% block contents %}
<div class="breadcrumb-list d-none d-md-block small width mx-auto mb-5 px-2 text-white">
    <a class="text-white" href="{{ path_for('homepage') }}">ホーム</a>
    <span class="font-weight-bold mx-2"> | </span>
    <a class="text-white" href="{{ path_for('imax') }}">IMAX</a>
    <span class="font-weight-bold mx-2"> | </span>
    <span>作品一覧<span>
</div>

<div class="width mx-auto mb-5 px-2 text-white">

    <div class="tabs mx-auto d-flex py-4">
        <div class="w-50 text-center active">
            <a class="py-2 d-block border-blue text-blue" href="#"
                data-type="screening">上映中</a>
        </div>
        <div class="w-50 text-center">
            <a class="py-2 d-block border-gray text-dark-gray" href="#" data-type="scheduled">上映予定</a>
        </div>
    </div>

    <div class="screening d-block">

    {% for schedule in nowShowingSchedules %}
        {% include 'imax/schedule/include/list_row.html.twig' with {
        schedule: schedule,
        theaters: theaters
        } only %}
    {% endfor %}

    </div>

    <div class="scheduled d-none">

    {% for schedule in commingSoonSchedules %}
        {% include 'imax/schedule/include/list_row.html.twig' with {
            schedule: schedule,
            theaters: theaters
        } only %}
    {% endfor %}

    </div>
</div>
{% endblock %}
