<header>
    <div class="bg-white fixed-top border-bottom border-gray">
        <div class="header d-flex align-items-center width mx-auto pl-2">
            <div class="header-logo mr-auto">
                {% block logo %}
                <div class="header-company-logo">
                    <a class="d-block mr-3" href="{{ path_for('homepage') }}">
                        <img src="/images/common/header_logo.svg" class="w-100" alt="CINEMA SUNSHINE">
                        <!--ページジャック用-->
                        <!--<img src="/images/pagejack/anayuki_2/CS_ice_logo1b.png" class="w-100" alt="CINEMA SUNSHINE">-->
                        <!--ページジャック用-->
                    </a>
                </div>
                {% endblock %}
            </div>

            <div class="d-flex align-items-center">
                <!-- {% block sns %}{% endblock %} -->
                <div>
                    <ul class="nav justify-content-end small d-none d-md-flex">
                        <li class="nav-item px-1 border-right border-dark-gray d-flex align-items-center">
                            <a class="px-2 py-2 d-block text-dark" href="{{ path_for('theater_list') }}">劇場一覧</a>
                        </li>
                        <li class="nav-item px-1 border-right border-dark-gray d-flex align-items-center">
                            <a class="px-2 py-2 d-block text-dark" href="{{ path_for('schedule_list') }}">作品一覧</a>
                        </li>
                        <li class="nav-item px-1 d-flex align-items-center">
                            <a class="px-2 py-2 d-block text-dark"
                                href="{{ path_for('question') }}">よくあるご質問<br>(Q&A)</a>
                        </li>
                    </ul>
                </div>
                <div class="pr-2 d-flex">
                    {% if is_login() %}
                    {% set user = login_user() %}
                    {# TODO 現行会員ログイン分岐 #}
                    <div>
                        <p class="mb-0 small"><span class="username">{{ user.name }}</span>さん</p>
                        <div>
                            <a id="signOutButton" class="btn btn-danger btn-sm d-inline-block"
                                href="{{ logout_url() }}" role="button">ログアウト</a>
                        </div>
                    </div>
                    {# TODO 新会員ログイン分岐 #}
                    <div class="mr-2">
                        {# マイページURL設定 #}
                        <a class="btn btn-primary btn-sm x-small" href="#" role="button">マイページ</a>
                    </div>
                    <div>
                        {# TODO 新会員ログアウトURL設定 #}
                        <a id="signOutButton" class="btn btn-danger btn-sm d-inline-block x-small"
                            href="#" role="button">ログアウト</a>
                    </div>
                    {# TODO ログイン種類をvalueへ追加(新会員ならNewMembership, 現行会員ならMembership) #}
                    <input type="hidden" name="signIn" id="signIn">
                    {% else %}
                    <div class="mr-2">
                        {# TODO 会員登録URL設定 #}
                        <a class="btn btn-outline-primary btn-sm x-small" href="#" role="button">会員登録</a>
                    </div>
                    <div>
                        <a class="btn btn-sm bg-blue text-white d-inline-block x-small"
                        href="#" data-toggle="modal"
                        data-target="#signInModal" role="button">ログイン</a>
                    </div>
                    {% endif %}
                </div>
                <!-- <div class="mr-2 d-block d-md-none sp-signin">
                    {% if is_login() %}
                    <img class="w-100" src="/images/common/account.svg">
                    {% endif %}
                </div> -->
            </div>

            <div class="btn-group d-md-none">
                <button type="button" class="btn header-menu rounded-0">
                    <img src="/images/common/header_menu.svg" class="open">
                    <img src="/images/common/gnav_close.svg" width="33" class="close d-none">
                </button>
            </div>
        </div>
    </div>
</header>
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center d-flex m-0" role="document">
        <div class="modal-content py-3 px-4" style="max-width: 300px; overflow: visible;">
            <a class="d-block close-button pointer" data-dismiss="modal" role="button">
                <img class="w-100" src="/images/common/close.svg">
        </a>
            <div class="mb-4">
                <p class="mb-2">シネマサンシャインリワード会員の方はこちら</p>
                <a id="signInButton" class="btn bg-blue text-white btn-block d-block"
                    href="{{ login_url() }}"
                    role="button">ログイン</a>
            </div>
            <div class="">
                <p class="mb-2">シネマサンシャイン会員の方はこちら</p>
                {# TODO 新会員ログインURL設定 #}
                <a id="signInButton" class="btn bg-blue text-white btnd-block d-block"
                    href="#"
                    role="button">ログイン</a>
            </div>
        </div>
    </div>
</div>
