<li class="col-md-3 col-6 py-2 mb-4">
    <a href="#" class="d-block">
        {% set labelClass = news_category_label_class(news.getCategory()) %}
        <div class="{{ labelClass }} text-center py-1 x-small">{{ news_category_label(news.getCategory()) }}</div>

        <div class="text-dark-gray py-2">{{ news.getStartDt()|date('Y/n/j') }}</div>

    {% if news.getImage() %}
        <div class="border mb-2 image border-gray" style="background-image: url({{ file_url(news.getImage()) }})"></div>
    {% endif %}

        <p class="mb-0">{{ news.getHeadline() }}</p>
    </a>
</li>
