{% set title = oyakoCinemaTitle.getTitle() %}
<div class="py-2">
    <div class="movie">
        <div class="border border-light-gray position-relative d-md-flex p-2 mb-4">
            <div class="movie-image">
                <img src="{{ file_url(title.getImage()) }}" class="w-100" alt="{{ title.getName() }}">
            </div>
            <div class="movie-info pt-md-2 pl-md-3">
                <div class="movie-detail mb-2">
                    <p class="title x-large"><a href="{{ oyakoCinemaTitle.getTitleUrl() }}">{{ title.getName() }}</a></p>
                    <p class="small mb-2 text-red pc_disp movie_notes"><small></small></p>
                </div>
                <p class="small mb-3 text-red sp_disp movie_notes"><small></small></p>
                <div class="movie-area">

                {% for oyakoCinemaSchedule in oyakoCinemaTitle.getOyakoCinemaSchedules() %}
                    <div class="oyako_event_date"><p>{{ oyakoCinemaSchedule.getDate()|date('Y/m/d') }}&ensp;開催</p></div>
                    <div class="d-flex flex-wrap">

                    {% for oyakoCinemaTheater in oyakoCinemaSchedule.getOyakoCinemaTheaters() %}
                        {% set theater = oyakoCinemaTheater.getTheater() %}
                        <div class="area-button mb-md-2 pr-md-2 mb-2 px-1 px-md-0 small font-weight-bold">
                            <a href="{{ theater.getMeta().getOyakoCinemaUrl() }}" class="d-flex align-items-center justify-content-center bg-white text-blue border-blue">{{ theater.getNameJa()|theater_name_ja2 }}</a>
                        </div>
                    {% endfor %}

                    </div>
                {% endfor %}

                    <div class="x-small ml-2 ml-md-0 text-gray">{{ title.getCredit() }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
