{% if newsList %}
<div class="width mx-auto px-3 event-information mb-5">
    <h3 class="font-weight-bold large mb-4 line-height-1">ライブビューイング・イベント情報<br><span class="small gdcs_eng_font_r">LIVE
        VIEWING
        / EVENT</span>
    <h3>
    <div class="container w-100 mw-100 m-0 mb-4 px-1">
        <ul class="row mb-0">
        {% for news in newsList|slice(0, 4) %}
            <li class="col-md-3 col-6 py-2 mb-md-3 mb-4">
                <a href="{{ path_for('theater_news_show', {
                        name: theater.getName(),
                        id: news.getId()
                    }) }}" class="d-block">
                {% if news.getImage() %}
                    <div class="border mb-2 image border-gray" style="background-image: url({{ file_url(news.getImage()) }})"></div>
                {% endif %}
                    <p class="mb-0">{{ news.getHeadline() }}</p>
                </a>
            </li>
        {% endfor %}
        </ul>
        <ul class="row d-none" data-contents="event-more-contents">
        {% for news in newsList|slice(4, 4) %}
            <li class="col-md-3 col-6 py-2 mb-md-3 mb-4">
                <a href="{{ path_for('theater_news_show', {
                        name: theater.getName(),
                        id: news.getId()
                    }) }}" class="d-block">
                {% if news.getImage() %}
                    <div class="border mb-2 image border-gray" style="background-image: url({{ file_url(news.getImage()) }})"></div>
                {% endif %}
                    <p class="mb-0">{{ news.getHeadline() }}</p>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="button-01 shadow-01 mx-auto see-more">
        <a href="#" data-target-contents="event-more-contents" data-target-button="event-more-button">もっと見る</a>
    </div>

    <div class="button-01 shadow-01 mx-auto d-none list-display" data-button="event-more-button">
        <a href="{{ path_for('theater_news_list', { name: theater.getName() }) }}">一覧表示</a>
    </div>
</div>
{% endif %}