{% extends "imax/layout.html.twig" %}

{% block title %}News&Info一覧 | {{ parent() }}IMAX特設サイト{% endblock %}

{% block description %}シネサンシャインIMAX特設サイトのニュース一覧ページです。映画に関する最新情報やイベント情報、ライブビューイング情報、キャンペーン情報、舞台挨拶のご案内など{% endblock %}

{% block keywords %}{{ parent() }},キャンペーン,ニュース,news,最新情報,映画情報,イベント情報,ライブビューイング,舞台挨拶,IMAX{% endblock %}

{% block css %}
<link href="/css/news/list.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'imax/include/navbar.html.twig' with {
    active: 'news'
} only %}
{% endblock %}

{% block sp_navbar %}
{% include 'imax/include/sp_navbar.html.twig' with {
    active: 'news'
} only %}
{% endblock %}

{% block contents %}
<div class="breadcrumb-list d-none d-md-block small width mx-auto mb-5 px-2 text-white">
    <a class="text-white" href="{{ path_for('homepage') }}">ホーム</a>
    <span class="font-weight-bold mx-2"> | </span>
    <a class="text-white" href="{{ path_for('imax') }}">IMAX</a>
    <span class="font-weight-bold mx-2"> | </span>
    <span>NEWS & INFO<span>
</div>

<div class="width mx-auto mb-3 px-2 text-white">
    <div class="news">
        <h2 class="font-weight-bold large text-center text-md-left py-4">ニュース・インフォメーション一覧</h2>
        <div class="container w-100 mw-100 m-0 mb-4 px-1">
            <ul class="row">
            {% for news in newsList %}
                <li class="col-md-3 col-6 py-2 mb-4">
                    <a href="{{ path_for('imax_news_show', { id: news.getId() }) }}" class="d-block">
                        <div class="text-gray py-2">{{ news.getStartDt()|date('Y/n/j') }}</div>
                    {% if news.getImage() %}
                        <div class="border mb-2 image border-gray" style="background-image: url({{ file_url(news.getImage()) }})"></div>
                    {% endif %}
                        <p class="mb-0">{{ news.getHeadline() }}</p>
                    </a>
                </li>
            {% endfor %}
            {% for news in infoNewsList %}
                <li class="col-md-3 col-6 py-2 mb-4">
                    <a href="{{ path_for('imax_news_show', { id: news.getId() }) }}" class="d-block">
                        <div class="text-gray py-2">{{ news.getStartDt()|date('Y/n/j') }}</div>
                    {% if news.getImage() %}
                        <div class="border mb-2 image border-gray" style="background-image: url({{ file_url(news.getImage()) }})"></div>
                    {% endif %}
                        <p class="mb-0">{{ news.getHeadline() }}</p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}