<div class="width mx-auto footer-bnr mb-5">
    <ul class="d-md-flex justify-content-center">
    {% if theater.getId() == 1 %}{# 池袋 #}
        <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
        <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
        <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
        <li class="mb-3 mb-md-0"><a href="http://beanandpop.jp/" target="_blank" class="d-block mx-4"><img src="/images/common/pop_foot.jpg" class="w-100"></a></li>
    {% elseif theater.getId() == 2 %}{# 平和島 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A70822423129/MDkyujin_d.htm" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    {% elseif theater.getId() == 6 %}{# 沼津 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A70822423133/MDkyujin_d.htm" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    {% elseif theater.getId() == 7 %}{# 北島 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A70822423194/MDkyujin_d.htm" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    {% elseif theater.getId() == 8 %}{# 衣山 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    {% elseif theater.getId() == 9 %}{# 大街道 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    {% elseif theater.getId() == 11 %}{# 大洲 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A70822423190/MDkyujin_d.htm" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    {% elseif theater.getId() == 12 %}{# 重信 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    {% elseif theater.getId() == 13 %}{# 土浦 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A70822423112/MDkyujin_d.htm" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    {% elseif theater.getId() == 14 %}{# かほく #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A70822423137/MDkyujin_d.htm" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    {% elseif theater.getId() == 15 %}{# エミフルMASAKI #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A70822423192/MDkyujin_d.htm" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    {% elseif theater.getId() == 16 %}{# 大和郡山 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A70822423177/MDkyujin_d.htm" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    {% elseif theater.getId() == 17 %}{# 下関 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A70822423170/MDkyujin_d.htm" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    {% elseif theater.getId() == 18 %}{# 姶良 #}
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A70818410786/MDkyujin_d.htm" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    {% elseif theater.getId() == 19 %}{# ユーカリが丘 #}
    <li class="mb-3 mb-md-0"><a href="https://job-gear.net/cinemasunshine2/A80626422567/MDkyujin_d.htm?from=top" target="_blank" class="d-block mx-4"><img src="/images/common/recruit_foot.jpg" class="w-100" alt="アルバイト募集中"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3005179&amp;pid=881385431&amp;vc_url=http%3A%2F%2Fwww" target="_blank" class="d-block mx-4"><img src="/images/common/mvtk_foot.jpg" class="w-100" alt="インターネットで座席指定ができる電子前売り券：ムビチケサイトはこちら"></a></li>
    <li class="mb-3 mb-md-0"><a href="{{ path_for('mail_magazine') }}" class="d-block mx-4"><img src="/images/common/mm_foot.jpg" class="w-100" alt="シネマサンシャインメールマガジン"></a></li>
    <li class="mb-3 mb-md-0"><a href="http://www.myokosunshine.co.jp/index.php" target="_blank" class="d-block mx-4"><img src="/images/common/myoko_foot.jpg" class="w-100" alt="妙高サンシャインホテル"></a></li>
    {% endif %}
    </ul>
</div>