{% extends "theater/layout.html.twig" %}

{% block title %}News&Info一覧 | {{ parent() }}{% endblock %}

{% block description %}シネサンシャイン{{ theater.getNameJa() }}のニュース一覧ページです。映画に関する最新情報やイベント情報、ライブビューイング情報、キャンペーン情報、舞台挨拶のご案内など{% endblock %}

{% set keywords = theater_meta_keywords(theater) %}
{% block keywords %}{{ parent()}},キャンペーン,ニュース,news,最新情報,映画情報,イベント情報,ライブビューイング,舞台挨拶{% if keywords %},{{ keywords }}{% endif %}{% endblock %}

{% block css %}
<link href="/css/news/list.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'theater/include/navbar.html.twig' with {
    theater: theater,
    active: 'news',
} only %}
{% endblock %}

{% block contents %}
<div class="width mx-auto p-3">
    <div class="breadcrumb-list small width mx-auto d-none d-md-block">
        <a href="{{ path_for('theater', { name: theater.getName() }) }}" class="mr-3">ホーム | {{ theater.getNameJa() }}</a>|
        <span class="font-weight-bold mx-3">NEWS＆INFO</span>
    </div>
</div>

<div class="width mx-auto p-3">
    <div class="news">
        <h2 class="font-weight-bold large mb-5 text-center text-md-left mt-2">ニュース・インフォメーション一覧</h2>
        <div class="container w-100 mw-100 m-0 mb-4 px-1">
            <ul class="row">
            {% for news in newsList %}
                <li class="col-md-3 col-6 py-2 mb-4">
                    <a href="{{ path_for('theater_news_show', {
                        name: theater.getName(),
                        id: news.getId()
                    }) }}" class="d-block">
                        {% set labelClass = news_category_label_class(news.getCategory()) %}
                        <div class="{{ labelClass }} text-center py-1 x-small">{{ news_category_label(news.getCategory()) }}</div>
                        
                        <div class="text-dark-gray py-2">{{ news.getStartDt()|date('Y/n/j') }}</div>
                        <div class="border mb-2 image border-gray" style="background-image: url({{ file_url(news.getImage()) }})"></div>
                        <p class="mb-0">{{ news.getHeadline() }}</p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- Adsense/css -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<style>
    @media (max-width: 767px){
    .cs_portal_rpad{display:inline-block;width:320px!important;height:50px;margin: 0 auto;}
    }
    @media (min-width:768px)and(max-width: 979px) {
        .cs_portal_rpad{display:inline-block;max-width:728px!important;height:90px;margin: 0 auto;}
    }
    @media (min-width:980px) {
        .cs_portal_rpad{display:inline-block;width:970px!important;height:90px!important;margin: 0 auto;}
    }
</style>
<!-- Adsense/css -->
<!-- CS_ポータル共通_レスポンシブ横長(下部) -->
<!-- Adsense code-->
<ins class="adsbygoogle cs_portal_rpad my-5"
style="display:block"
data-ad-client="ca-pub-3891476404601512"
data-ad-slot="4461686788"
data-ad-format="horizontal"
data-full-width-responsive="false"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Adsense code-->
{% include 'include/campaign.html.twig' with {
    campaigns: campaigns
} only %}
{% endblock %}
