{% extends "theater/layout.html.twig" %}

{% block title %}アクセス | {{ parent() }}{% endblock %}

{% block description %}シネサンシャイン{{ theater.getNameJa() }}のアクセスページです。劇場周辺のマップや最寄駅、住所、問い合わせ先電話番号に関するご案内など{% endblock %}

{% set keywords = theater_meta_keywords(theater) %}
{% block keywords %}{{ parent()}},駐車場,アクセス,電話番号,マップ,行き方,電車,車,徒歩,最寄駅{% if keywords %},{{ keywords }}{% endif %}{% endblock %}

{% block css %}
<link href="/css/theater/access.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'theater/include/navbar.html.twig' with {
    theater: theater,
    active: 'access',
} only %}
{% endblock %}

{% block contents %}
<div class="width mx-auto p-3">
    <div class="breadcrumb-list small mb-5 d-none d-md-block">
        <a href="{{ path_for('theater', { name: theater.getName() }) }}" class="mr-3">ホーム | {{ theater.getNameJa() }}</a>|
        <span class="font-weight-bold mx-3">アクセス</span>
    </div>
    
    {% include 'theater/include/access/' ~ theater.getName() ~ '.html.twig' %}
</div>

<div class="mb-5">
    {% include 'theater/include/infomation.html.twig' with {
        theater: theater,
        newsList: infoNewsList,
    } only %}
</div>
{% endblock %}
