{% extends "theater/layout.html.twig" %}

{% set title = 'コンセッション | シネマサンシャイン' ~ theater.getNameJa() %}
{% set description = 'シネマサンシャイン' ~ theater.getNameJa() ~ 'のコンセッションページです。劇場で販売しているポップコーンなどのフードメニューやドリンクメニューのご案内' %}
{% set keywords = 'シネマサンシャイン,映画館,映画,シネマ,劇場,食べ物,フード,ドリンク,ポップコーン、メニュー,セット,' ~ theater_meta_keywords(theater) %}

{% if theater.getName() == 'gdcs' %}
    {# SASAKI-579 #}
    {% set title = 'コンセッション | グランドシネマサンシャイン池袋'%}
    {% set description = 'グランドシネサンシャイン池袋のコンセッションページです。映画館で販売しているポップコーンなどのフードメニューやドリンクメニューのご案内' %}
    {% set keywords = 'グランドシネマサンシャイン,映画館,映画,シネマ,劇場,食べ物,フード,ドリンク,ポップコーン、メニュー,セット,グラッパーズダイナー,バールパノラマ,東京,池袋' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block description %}{{ description }}{% endblock %}

{% block keywords %}{{ keywords }}{% endblock %}

{% block css %}
<link href="/css/movie/list.css" rel="stylesheet">
    {% if theater.getName() == 'gdcs' %}
    <link href="/css/theater/gdcs.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block javascript %}
<script src="/js/theater/concession.js"></script>
{% endblock %}

{% block navbar %}
{% include 'theater/include/navbar.html.twig' with {
    theater: theater,
    active: 'concession',
} only %}
{% endblock %}

{% block sp_navbar %}
{% include 'theater/include/sp_navbar.html.twig' with {
    theater: theater,
    active: 'concession',
} only %}
{% endblock %}

{% block contents %}
<div class="width mx-auto p-3 pjack-bg pj-mb-5">
    <div class="breadcrumb-list small mb-5 d-none d-md-block">
        <a href="{{ path_for('theater', { name: theater.getName() }) }}" class="mr-3">ホーム | {{ theater.getNameJa() }}</a>|
        <span class="font-weight-bold mx-3">コンセッション</span>
    </div>

    <div class="mb-5">
        <h2 class="font-weight-bold large text-center text-md-left mb-4 mt-2">コンセッション</h2>
        {% include 'theater/include/concession/' ~ theater.getName() ~ '.html.twig' only %}
    </div>
</div>

{% include 'include/campaign.html.twig' with {
    campaigns: campaigns
} only %}

{% include 'theater/include/infomation.html.twig' with {
    theater: theater,
    newsList: infoNewsList,
} only %}
{% endblock %}
