{% extends "theater/layout.html.twig" %}

{% block title %}劇場設備 | {{ parent() }}{% endblock %}

{% block description %}シネサンシャイン{{ theater.getNameJa() }}の劇場設備ページです。スクリーン数や座席数、劇場設備に関するのご案内など{% endblock %}

{% set keywords = theater_meta_keywords(theater) %}
{% block keywords %}{{ parent()}},設備,スクリーン,座席数,3D上映{% if keywords %},{{ keywords }}{% endif %}{% endblock %}

{% block css %}
<link href="/css/theater/facility.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'theater/include/navbar.html.twig' with {
    theater: theater,
    active: 'floor-guide',
} only %}
{% endblock %}

{% block contents %}
<div class="width mx-auto p-3">
    <div class="breadcrumb-list small mb-5 d-none d-md-block">
        <a href="{{ path_for('theater', { name: theater.getName() }) }}" class="mr-3">ホーム | {{ theater.getNameJa() }}</a>|
        <span class="font-weight-bold mx-3">劇場施設</span>
    </div>
    
    {% include 'theater/include/floor_guide/' ~ theater.getName() ~ '.html.twig' %}
</div>

<div class="mb-5">
    {% include 'theater/include/infomation.html.twig' with {
        theater: theater,
        newsList: infoNewsList,
    } only %}
</div>
{% endblock %}
