{% extends "theater/layout.html.twig" %}


{% block title %}劇場トップ・上映スケジュール | {{ parent() }}{% endblock %}

{% block description %}シネマサンシャイン{{ theater.getNameJa()
}}の劇場サイトトップページです。上映スケジュール、ニュース、前売券情報、コンセッション、料金案内、劇場設備、アクセスのご案内など。{% endblock %}

{% set keywords = theater_meta_keywords(theater) %}

{% if theater.getId() == 1 %}
{# 池袋トップページのみ #}
{% set keywords = keywords ~ ',応援上映' %}
{% elseif theater.getId() == 2 %}
{# 平和島トップページのみ #}
{% set keywords = keywords ~ ',4DX' %}
{% endif %}

{% block keywords %}{{ parent()}},座席指定,予約,オンライン,上映,スケジュール,キャンペーン,公式アプリ,ムビチケ{% if keywords %},{{ keywords }}{% endif
%}{% endblock %}

{% block css %}
<link href="/css/theater/top.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
{% if is_mw_ad_support() %}
{{ mw_ad_script(theater) }}
{% endif %}
<script src="/js/api.js"></script>
<script src="/js/theater/top.js?v=20181101_2"></script>
{% endblock %}

{% block navbar %}
{% include 'theater/include/navbar.html.twig' with {
theater: theater,
active: 'top',
} only %}
{% endblock %}

{% block sp_navbar %}
{% include 'theater/include/sp_navbar.html.twig' with {
theater: theater,
active: 'top',
} only %}
{% endblock %}

{% block contents %}
<div class="mb-3">
    {% include 'theater/include/index/slider.html.twig' with {
    mainBanners: mainBanners
    } only %}
</div>

{% set specialSites = theater.getSpecialSites() %}
{% if specialSites|length > 0 %}
{% include 'theater/include/index/special_site.html.twig' with {
specialSites: specialSites
} only %}
{% endif %}

{% include 'include/adsense/top.html.twig' only %}

<div class="mb-5">
    <div class="width mx-auto d-md-flex p-3">

        {% set picupCampaign = campaigns[0] %}
        {% if picupCampaign %}
        {% include 'theater/include/index/pickup.html.twig' with {
        campaign: picupCampaign
        } only %}
        {% endif %}

        {% include 'theater/include/index/trailer.html.twig' with {
        theater: theater
        } only %}
    </div>
</div>

{% if theater.getMasterVersion() == 2 %}
{% include 'theater/include/index/online_ticket.html.twig' with {
masterCode: theater.getMasterCode()
} only %}
{% endif %}

<div class="mb-5">
    <div class="width mx-auto px-3 mb-3">
        {% include 'theater/include/index/opening_hour.html.twig' with {
        openingHours: theater.getMeta().getOpeningHours()
        } only %}
    </div>
</div>

<div class="schedule mb-5">
    <div class="width mx-auto px-3 mb-3">
        <div class="schedule-title">
            <h3 class="d-inline-block mb-4 px-3 border-left border-right border-blue text-blue">
                <div class="font-weight-bold large mb-1">上映スケジュール・チケット購入</div>
                <div class="small">FILMING SCHEDULE</div>
            </h3>
        </div>
        <p class="mb-0">カレンダーの日時を選択してください。</p>
        <div class="small text-red font-weight-bold text-right pre-sales-text d-none">先行販売はカレンダーをスライドしてください >></div>
    </div>

    <div class="schedule-scroll mb-4">
        <div class="schedule-slider bg-super-light-gray border-top border-bottom">
            <div class="swiper-container mx-auto">
                <div class="swiper-wrapper">
                    {# 日付一覧 #}
                </div>
            </div>
        </div>
    </div>
    <div class="width mx-auto px-3 position-relative">
        <div class="print-button position-absolute button-01 shadow-01 small mr-3 d-none d-md-block">
            <a class="py-1 px-3" href="#" onclick="window.print(); return false;">スケジュールを印刷</a>
        </div>
        <div class="selected-date-scroll">
            <div class="selected-date d-md-flex align-items-center">
                <div class="width mx-auto py-3 px-md-3">
                    <div class="pre-sales d-none px-2 py-1 mb-2 mb-md-0 mr-md-3 border border-red text-red small">先行販売</div>
                    <div class="font-weight-bold line-height-1"><span class="mr-2 date"></span>上映スケジュール</div>
                </div>
            </div>
        </div>
        <div class="error p-3 border bg-light-gray text-dark-gray"></div>
        <div class="schedule-sort-film d-none d-md-block"></div>
        <div class="schedule-sort-film-sp d-md-none"></div>
    </div>
</div>

{% include 'theater/include/index/event.html.twig' with {
theater: theater,
newsList: eventNewsList,
} only %}

{% include 'theater/include/index/news.html.twig' with {
theater: theater,
newsList: newsList,
} only %}

{% include 'include/adsense/buttom.html.twig' only %}

{% include 'include/campaign.html.twig' with {
campaigns: campaigns
} only %}

{% include 'theater/include/infomation.html.twig' with {
theater: theater,
newsList: infoNewsList,
} only %}

<div class="mb-5">
    <div class="d-md-none w-100 text-center px-3 pt-3">
        <a href="{{ path_for('theater_admission', { name: theater.getName() }) }}" class="d-block mb-4">
            <div class="border rounded py-3">
                料金案内はこちら
            </div>
        </a>
        <a href="{{ path_for('theater_access', { name: theater.getName() }) }}" class="d-block mb-4">
            <div class="border rounded py-3">
                アクセス情報はこちら
            </div>
        </a>
        <a href="{{ path_for('theater_floor_guide', { name: theater.getName() }) }}" class="d-block">
            <div class="border rounded py-3">
                劇場施設はこちら
            </div>
        </a>
    </div>
</div>
<div class="modal fade information-modal" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="informationModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered px-3" role="document">
        <div class="modal-content border-0 rounded-0 w-auto mx-auto position-relative" style="overflow: visible;">
            <a class="d-block close-button pointer" data-dismiss="modal" role="button">
                    <img class="w-100" src="/images/common/close.svg">
            </a>
            <div class="d-none d-md-block">
                <a class="d-block" href="/app/"><img class="w-100 align-bottom" src="/images/theater/modal/app.jpg"></a>
            </div>
            <div class="d-md-none">
                <a class="d-block" href="/app/"><img class="w-100 align-bottom" src="/images/theater/modal/app_sp.jpg"></a>
            </div>
            <div class="d-flex justify-content-center align-items-center py-3 bg-light-gray">
                <input class="mr-2 pointer" type="checkbox" name="information" value="001" id="information">
                <label class="pointer" for="information">このバナーを再度表示しない</label>
            </div>
        </div>
    </div>
</div>
{% endblock %}