<div class="width mx-auto mb-5 px-3 news news-4dx">
    <div class="d-md-flex mb-4 align-items-center">
        <h3 class="d-flex mb-3 mb-md-0 align-items-center justify-content-center">
            <div class="mr-md-2"><img src="/images/common/4dx_logo.svg"></div>
            <div class="font-weight-bold large line-height-1">ニュース</div>
        </h3>
        <div class="ml-md-5 text-center"><a href="{{ path_for('4dx') }}" class="border-bottom border-gray">4DX特設サイトはこちら ></a></div>
    </div>
    <div class="container w-100 mw-100 m-0 mb-4 px-1">
        <ul class="row mb-0">
        {% for news in newsList|slice(0, 4) %}
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="{{ path_for('news_show', { id: news.getId() }) }}" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url({{ file_url(news.getImage()) }})"></div>
                    <p class="mb-0">{{ news.getHeadline() }}</p>
                </a>
            </li>
        {% endfor %}
        </ul>
        <ul class="row d-none" data-contents="4dx-more-contents">
        {% for news in newsList|slice(4, 4) %}
            <li class="col-md-3 col-6 py-2 mb-4">
                <a href="{{ path_for('news_show', { id: news.getId() }) }}" class="d-block">
                    <div class="border mb-2 image border-gray" style="background-image: url({{ file_url(news.getImage()) }})"></div>
                    <p class="mb-0">{{ news.getHeadline() }}</p>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="button-01 shadow-01 mx-auto see-more">
        <a href="#" data-target-contents="4dx-more-contents" data-target-button="4dx-more-button">もっと見る</a>
    </div>
    <div class="button-01 shadow-01 mx-auto d-none list-display" data-button="4dx-more-button">
        <a href="{{ path_for('news_list') }}">一覧表示</a>
    </div>
</div>