{% extends "imax/layout.html.twig" %}
{% block title %}IMAX&reg;とは? | {{ parent() }}IMAX特設サイト{% endblock %}

{% block description %}シネマサンシャインIMAX特設サイトのIMAX&reg;説明ページです。IMAXの設備・機能に関する情報をご案内{% endblock %}

{% block keywords %}{{ parent() }},IMAX,IMAX3D,料金{% endblock %}
{% block css %}
<link href="/css/imax/about.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'imax/include/navbar.html.twig' with {
    active: 'about'
} only %}
{% endblock %}

{% block sp_navbar %}
{% include 'imax/include/sp_navbar.html.twig' with {
    active: 'about'
} only %}
{% endblock %}

{% block contents %}
<!--tab-->
<div class="tab-content">
    <!--content_デジタルシアター-->
    <div id="dg_teater" role="tabpanel" class="tab-pane fade show active">
        <div class="breadcrumb-list d-none d-md-block small width mx-auto mb-5 px-2 text-white">
            <a class="text-white" href="{{ path_for('homepage') }}">ホーム</a>
            <span class="font-weight-bold mx-2"> | </span>
            <a class="text-white" href="{{ path_for('imax') }}">IMAX</a>
            <span class="font-weight-bold mx-2"> | </span>
            <span class="text-white">IMAXとは？</span>
            <span class="font-weight-bold mx-2"> | </span>
            <span>IMAXデジタルシアター</span>
        </div>

        <div class="width mx-auto mb-3 px-2 text-white">
            <div class="mb-5">
                <h2 class="font-weight-bold large text-center text-md-left py-4">IMAX&reg;デジタルシアター</h2>
                <div class="mb-4"><img class="w-100" src="/images/imax/about/imax_top_03.jpg"></div>
                <p>
                    映像やサウンドのクオリティはもちろん、客席の角度やスクリーンからの距離などシアター空間全体を独自に設計。<br>
                    IMAXシアターは、すべての要素にこだわって世界最高レベルの臨場感を追求しています。映画鑑賞のイメージを塗り替える劇的な体験があなたを待っています。
                </p>
            </div>
            <div class="mb-5">
                <div class="introduction-video mx-auto mb-5">
                    <div class="video">
                        <iframe type="text/html" src="https://www.youtube.com/embed/kQL20hldtvE?rel=0&loop=1&playsinline=1&rel=0&mute=1&autoplay=1&showinfo=0&disablekb=1&modestbranding=1&color=white"
                            frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="function mx-auto">
                    <ul class="d-md-flex flex-wrap">
                        <li class="mb-4">
                            <div class="mx-md-4 h-100">
                                <div class="mb-3 text-center title"><img class="w-100" src="/images/imax/about/imax_dmr.svg"></div>
                                <div><img class="w-100" src="/images/imax/about/imax_top_07.jpg"></div>
                                <div class="p-2">
                                    <p class="mb-2 font-weight-bold">
                                        高度なデジタル技術で驚異の映画体験！
                                    </p>
                                    <p class="mb-0">
                                        IMAX&reg;シアターで上映される映画作品は、音響、彩度、コントラスト、明るさといった細部を高い精度で調整し、IMAX&reg;仕様にリマスタリングされます。IMAX
                                        DMR&reg;と呼ばれるこの独自のプロセスよって、他の劇場ではけして味わえない映画体験を可能にします。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="mb-4">
                            <div class="mx-md-4 h-100">
                                <div class="mb-3 text-center title"><img class="w-100" src="/images/imax/about/theater_design.svg"></div>
                                <div><img class="w-100" src="/images/imax/about/imax_top_08.jpg"></div>
                                <div class="p-2">
                                    <p class="mb-2 font-weight-bold">
                                        臨場感あふれるケタ違いの体験
                                    </p>
                                    <p class="mb-0">
                                        IMAXシアターは観客をスクリーンに近づけただけではなく、独自の座席構造により、フルパノラマビューで視界を満たし、シネマテッィクな体験をもたらします。それはまるで映画の中にいるような感覚です。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="mb-4">
                            <div class="mx-md-4 h-100">
                                <div class="mb-3 text-center title"><img class="h-100" src="/images/imax/about/sound.svg"></div>
                                <div><img class="w-100" src="/images/imax/about/imax_top_09.jpg"></div>
                                <div class="p-2">
                                    <p class="mb-2 font-weight-bold">
                                        包み込むような、クリアサウンドを全ての座席で
                                    </p>
                                    <p class="mb-0">
                                        お腹に響く大音響から肩越しに聞こえるささやき、さらに人の耳では聴こえない音域まで再現。しかも、あなたがシアター内のどこに座っても理想的なリスニング環境になるよう設計されています。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="my-4">
                            <div class="mx-md-4 h-100">
                                <div class="mb-3 text-center title"><img class="h-100" src="/images/imax/about/imax_camera.svg"></div>
                                <div><img class="w-100" src="/images/imax/about/imax_top_10.jpg"></div>
                                <div class="p-2">
                                    <p class="mb-2 font-weight-bold">
                                        撮影段階からIMAX&reg;クオリティを追求！
                                    </p>
                                    <p class="mb-0">
                                        IMAX®には専用のカメラがあります。このカメラで撮影されたシーンは画角が大きく映像もクリアです。このカメラはハリウッドを中心に採用され、全世界で話題作・ヒット作が続々と製作されています。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="my-4">
                            <div class="mx-md-4 h-100">
                                <div class="mb-3 text-center title"><img class="h-100" src="/images/imax/about/picture.svg"></div>
                                <div><img class="w-100" src="/images/imax/about/imax_top_11.jpg"></div>
                                <div class="p-2">
                                    <p class="mb-2 font-weight-bold">
                                        明るさ1.6倍の美しさ！
                                    </p>
                                    <p class="mb-0">
                                        従来の上映システムに比べて明るさがなんと1.6倍！高性能デジタルプロジェクターを2台同時使用しているから映像が圧倒的に鮮やか。その美しさに、きっとあなたも息をのむはずです。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="my-4">
                            <div class="mx-md-4 h-100">
                                <div class="mb-3 text-center title"><img class="h-100" src="/images/imax/about/3d.svg"></div>
                                <div><img class="w-100" src="/images/imax/about/imax_top_12.jpg"></div>
                                <div class="p-2">
                                    <p class="mb-2 font-weight-bold">
                                        映像がひざの上まで迫ってくる。脅威のIMAX3D版
                                    </p>
                                    <p class="mb-0">
                                        2台のデジタルプロジェクターを同時使用するIMAX&reg;シアターは3D映像も格別です。3Dメガネをかけても画面は明るいまま、鮮明な映像があなたの膝の上までリアルに迫って来ます。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="comment mb-5">
                <h2 class="font-weight-bold large text-center text-md-left mb-4">ハリウッドの著名な映画人がIMAXを大絶賛</h2>
                <ul>
                    <li class="mb-4 p-3 border-blue">
                        <div class="mb-3 font-weight-bold">ジェームズ・キャメロン</div>
                        <div class="mb-3 small text-light-blue font-weight-bold">代表作：「アバター」「タイタニック」</div>
                        <p>
                            「アバター」での我々の目標は、3Dの実写製作に革命をもたらすことだった。そして、IMAX3Dで見たら映像も音も驚異的であろうことは疑う余地がない。通常より大きなIMAXデジタルシアターの視野とパワフルなサラウンドサウンドは観客に他では決して味わうことのできない映画の世界に入り込んだような臨場感を提供してくれるはずだ。
                        </p>
                    </li>
                    <li class="mb-4 p-3 border-blue">
                        <div class="mb-3 font-weight-bold">スティーヴン・スピルバーグ</div>
                        <div class="mb-3 small text-light-blue font-weight-bold">代表作：「インディー・ジョーンズ」シリーズ 「プライベート・ライアン」</div>
                        <p>
                            ハリウッドは常に小さなスクリーンで映画を見ざるを得ない環境に対して打開策を打ち出してきた。そして今、自分たちの作品をIMAXの3Dに変換するフィルムメーカーたちがどんどん増えている。IMAXシアターはそんな我々を支えてくれる存在だ。
                        </p>
                    </li>
                    <li class="mb-4 p-3 border-blue">
                        <div class="mb-3 font-weight-bold">クリストファー・ノーラン</div>
                        <div class="mb-3 small text-light-blue font-weight-bold">代表作：「ダークナイト」「インセプション」</div>
                        <p>
                            “IMAX”の広い視野とスケール感は、想像力と同じくらい無限大の夢の世界を描くには完璧だった。映画のキャンパスを広げることによって観客を映画の中に瞬時に入り込ませることができる。それは、フィルムメーカーだったら誰もが望むことだ。
                        </p>
                    </li>
                    <li class="mb-4 p-3 border-blue">
                        <div class="mb-3 font-weight-bold">ジョセフ・コシンスキー</div>
                        <div class="mb-3 small text-light-blue font-weight-bold">代表作：「トロン：レガシー」</div>
                        <p>
                            今回の撮影にはIMAXカメラを使用しなかったが、本編のIMAX版は製作している。今、4~5シーンをレターボックスサイズではなく上下が高いフォーマットに変換して、IMAXシアター限定で上映しようと考えている。画面の天地が広がってあの大きなスクリーン全体にフルスクリーン・シークエンスが楽しいめる。最高にクールに見えるはずだ。「トロン：レガシー」を見るなら、IMAXがベストだと思う。
                        </p>
                    </li>
                    <li class="mb-4 p-3 border-blue">
                        <div class="mb-3 font-weight-bold">ジェフリー・カッツェンバーグ</div>
                        <div class="mb-3 small text-light-blue font-weight-bold">ドリームワークスアニメーションCEO</div>
                        <p>
                            3Dは観客が映画を見る体験を一新するだろう。IMAXの臨場感は観客に我々の映画をユニークな形で体験させてくれると信じている。我々の３D戦略の要としてIMAXを加えられることを嬉しく思う。
                        </p>
                    </li>
                </ul>
            </div>
            <div class="mb-5 viewing-fee">
                <h2 class="font-weight-bold large text-center text-md-left mb-4">IMAX&reg;鑑賞料金</h2>
                <p class="text-center text-md-left">対象劇場：土浦・大和郡山・衣山</p>
                <div class="mb-5 prices">
                    <ul class="mb-4">
                        <li class="d-md-flex align-items-center mb-4 text-center text-md-left">
                            <div class="title large font-weight-bold mb-3 mb-md-0">IMAX</div>
                            <div class="description">
                                <div class="bg-light-blue py-4 px-5 x-large d-inline-block price">通常料金<span class="mx-3">+</span>￥400
                                </div>
                            </div>
                        </li>
                        <li class="d-md-flex align-items-center text-center text-md-left">
                            <div class="title large font-weight-bold mb-3 mb-md-0">IMAX3D</div>
                            <div class="description">
                                <div class="bg-light-blue py-4 px-5 x-large d-inline-block price">通常料金<span class="mx-3">+</span>￥700<span
                                        class="mx-3">+</span>(IMAX3D専用メガネ代￥100)
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="small">なおIMAX3D専用メガネはお客様がお持ち帰りいただくことが可能で、次回、IMAX3D作品をご鑑賞いただく際にご持参いただきましたらメガネ代100円はいただきません。</p>
                </div>
                <ul class="border-top border-dark-gray mb-4 add-prices">
                    <li class="d-flex align-items-center border-bottom border-dark-gray p-3 p-md-4">
                        <div class="title font-weight-bold pr-3 pr-md-0">IMAX・一般の場合</div>
                        <div class="description large">一般 ¥1,800 + IMAX鑑賞料金 ¥400 = ¥2,200</div>
                    </li>
                    <li class="d-flex align-items-center border-bottom border-dark-gray p-3 p-md-4">
                        <div class="title font-weight-bold pr-3 pr-md-0">IMAX3D・ファーストデイの場合</div>
                        <div class="description large">一般 ¥1,200 + IMAX鑑賞料金 ¥700 + IMAX3D専用メガネ ¥100 = ¥2,000</div>
                    </li>
                </ul>
                <p class="small">
                    ※&ensp;各種サービスデイはサービス料金＋IMAX鑑賞料金となります。<br>
                    ※&ensp;前売券、シネマサンシャインCINEMATICKET（特別鑑賞券）、シネマサンシャインINVITATION
                    TICKET（招待券）、アプリ会員のポイントによる無料鑑賞、各種割引券も＋IMAX鑑賞料金でご利用いただけます。<br>
                    ※&ensp;ハンディキャップ料金は障がい者手帳をお持ちのご本人様と付き添いの方1名まで同じ料金になります。
                </p>
            </div>
        </div>
    </div>
    <!--content_デジタルシアター-->
    <!--content_IMAXレーザー/GT-->
    <div id="laser_gt" role="tabpanel" class="tab-pane fade">
        <div class="breadcrumb-list d-none d-md-block small width mx-auto mb-5 px-2 text-white">
            <a class="text-white" href="{{ path_for('homepage') }}">ホーム</a>
            <span class="font-weight-bold mx-2"> | </span>
            <a class="text-white" href="{{ path_for('imax') }}">IMAX</a>
            <span class="font-weight-bold mx-2"> | </span>
            <a class="text-white">IMAXとは？</a>
            <span class="font-weight-bold mx-2"> | </span>
            <span>IMAXレーザー&nbsp;/&nbsp;GTテクノロジー</span>
        </div>

        <div class="width mx-auto mb-3 px-2 text-white">
            <div class="mb-5">
                <h2 class="font-weight-bold large text-center text-md-left py-4">IMAX&reg;レーザー&nbsp;/&nbsp;GTテクノロジー</h2>
                <div class="mb-4"><img class="w-100" src="/images/imax/about/imax_top_04.jpg"></div>
                <p>
                    革新的な4Kレーザー投影システムを採用し、より鮮やかで明るく、深みあるコントラストの超高解像度映像を実現。<br>
                    音響面では12chサウンドシステムを採用。圧倒的な臨場感で客席を包みます。<br>
                    最大で1.43:1の画角にまで拡張し、一般のスクリーンに比べ約40%広い映像をお届けします。
                </p>
            </div>
            <div class="mb-5">
                <div class="introduction-video mx-auto mb-5">
                    <div class="video">
                        <iframe type="text/html" src="https://www.youtube.com/embed/BwsXr6QrdmI?rel=0&loop=1&playsinline=1&rel=0&mute=1&autoplay=1&showinfo=0&disablekb=1&modestbranding=1&color=white"
                            frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="mx-auto introduction mb-5">
                    <ul class="d-md-flex flex-wrap">
                        <li class="gt_pic">
                            <div><img class="w-100" src="/images/imax/about/imax_top_13.jpg"></div>
                        </li>
                        <li class="gt_txt">
                            <h5 class="font-weight-bold mb-3">客席を包み込む大型スクリーン</h5>
                            <p>革新的な4Kレーザー投影システムを採用し、より鮮やかで明るく、深みあるコントラストの超高解像度映像を実現。<br>
                                音響面では12chサウンドシステムを採用。圧倒的な臨場感で客席を包みます。<br>
                                最大で1.43:1の画角にまで拡張し、一般のスクリーンに比べ約40%広い映像をお届けします。</p>
                        </li>
                    </ul>
                </div>
                <div class="mx-auto introduction mb-5">
                    <ul class="d-md-flex flex-wrap">
                        <li class="gt_pic">
                            <div><img class="w-100" src="/images/imax/about/imax_top_14.jpg"></div>
                        </li>
                        <li class="gt_txt">
                            <h5 class="font-weight-bold mb-3">最もシャープで明るい、4Kレーザープロジェクター</h5>
                            <p>IMAXの画期的なデュアル4Kレーザー映像システムで、最もシャープで明るく、鮮明なデジタル映像を実現。<br>
                                ゼロから構築されたこの新システムは、全く新しい光学エンジンと、独自の新IMAX技術を備えています。私たちが目にする映像を全く新しい次元へと高めます。</p>
                        </li>
                    </ul>
                </div>
                <div class="mx-auto introduction mb-5">
                    <ul class="d-md-flex flex-wrap">
                        <li class="gt_pic">
                            <div><img class="w-100" src="/images/imax/about/imax_top_15.jpg"></div>
                        </li>
                        <li class="gt_txt">
                            <h5 class="font-weight-bold mb-3">圧倒的なサウンドで包み込む12チャンネル・オーディオシステム</h5>
                            <p>最大規模のIMAXシアター用に設計された分散型12チャンネル・オーディオシステム。<br>
                                レーザー照準のデジタルサラウンド音響、自動チューニング、IMAX専用にリマスタリングされた非圧縮サウンドトラックを使用することで、高音から低音まで、素晴らしいサウンドを実現します。</p>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="mb-5 viewing-fee">
                <h2 class="font-weight-bold large text-center text-md-left mb-4">IMAX&reg;鑑賞料金</h2>
                <p class="text-center text-md-left">対象劇場：グランドシネマサンシャイン</p>
                <div class="mb-5 prices">
                    <ul class="mb-4">
                        <li class="d-md-flex align-items-center mb-4 text-center text-md-left">
                            <div class="title large font-weight-bold mb-3 mb-md-0">IMAX</div>
                            <div class="description">
                                <div class="bg-light-blue py-4 px-5 x-large d-inline-block price">通常料金<span class="mx-3">+</span>￥700
                                </div>
                            </div>
                        </li>
                        <li class="d-md-flex align-items-center text-center text-md-left">
                            <div class="title large font-weight-bold mb-3 mb-md-0">IMAX3D</div>
                            <div class="description">
                                <div class="bg-light-blue py-4 px-5 x-large d-inline-block price">通常料金<span class="mx-3">+</span>￥1,100<span class="mx-3">(IMAX3D専用メガネ代込み)</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="small">なおIMAX3D専用メガネはお持ち帰りできません、上映終了後に回収させていただきます。</p>
                </div>
                <ul class="border-top border-dark-gray mb-4 add-prices">
                    <li class="d-flex align-items-center border-bottom border-dark-gray p-3 p-md-4">
                        <div class="title font-weight-bold pr-3 pr-md-0">IMAX・一般の場合</div>
                        <div class="description large">一般 ¥1,800 + IMAX鑑賞料金 ¥700 = ¥2,500</div>
                    </li>
                    <li class="d-flex align-items-center border-bottom border-dark-gray p-3 p-md-4">
                        <div class="title font-weight-bold pr-3 pr-md-0">IMAX3D・ファーストデイの場合</div>
                        <div class="description large">一般 ¥1,200 + IMAX鑑賞料金 ¥1,100 = ¥2,200</div>
                    </li>
                </ul>
                <p class="small">
                    ※&ensp;各種サービスデイはサービス料金＋IMAX鑑賞料金となります。<br>
                    ※&ensp;前売券、シネマサンシャインCINEMATICKET（特別鑑賞券）、シネマサンシャインINVITATION
                    TICKET（招待券）、アプリ会員のポイントによる無料鑑賞、各種割引券も＋IMAX鑑賞料金でご利用いただけます。<br>
                    ※&ensp;ハンディキャップ料金は障がい者手帳をお持ちのご本人様と付き添いの方1名まで同じ料金になります。
                </p>
            </div>
        </div>
    </div>
    <!--content_IMAXレーザー/GT-->
</div>
{% endblock %}