{% set title = schedule.getTitle() %}
<div class="movie" id="{{ schedule.getId() }}">
    <div class="position-relative d-md-flex p-2 border border-gray mb-4">
        <div class="movie-image">
        {% if title.getImage() %}
            <img src="{{ file_url(title.getImage()) }}" class="w-100" alt="{{ title.getName() }}">
        {% else %}
            <img src="/images/common/no_img_movie.png" class="w-100" alt="No image">
        {% endif %}
        </div>
        <div class="movie-info pt-md-2 pl-md-3">
            <div class="movie-detail mb-3">

            {% if schedule.getStartDate() > date() %}
                <p class="text-gray release_date mb-1"><small>{{ schedule.getStartDate()|date('Y/m/d') }}公開</small></p>
            {% endif %}

                <p class="title x-large"><a class="text-white" href="{{ path_for('imax_schedule_show', { schedule: schedule.getId() }) }}">{{ title.getName() }}</a></p>
                <p class="small mb-2 text-red pc_disp movie_notes"><small>{{ schedule.getRemark() }}</small></p>
                <div class="d-flex mb-1">
                {% set systems = [] %}
                {% for showingFormat in schedule.getShowingFormats() %}
                    {% set systems = systems|merge([ showingFormat.getSystem() ]) %}
                {% endfor %}

                {% if 5 in systems %}
                    <div class="icon-imax py-1 bg-dark-gray text-center mr-2"><img src="/images/common/imax_logo_wht.svg" alt="IMAX"></div>
                {% endif %}
                {% if 6 in systems %}
                    <div class="icon-imax3d py-1 bg-dark-gray text-center mr-2"><img src="/images/common/imax3d_logo_wht.svg" alt="IMAX3D"></div>
                {% endif %}
                </div>
                <div class="d-flex">
                {% if title.getRating() == 1 %}
                    <div class="icon-r mr-2"><img src="/images/movie/g.svg" alt="G：どなたでもご覧になれます"></div>
                {% elseif title.getRating() == 2 %}
                    <div class="icon-r mr-2"><img src="/images/movie/pg_12.svg" alt="PG12：小学生には助言・指導が必要"></div>
                {% elseif title.getRating() == 3 %}
                    <div class="icon-r mr-2"><img src="/images/movie/r_15.svg" alt="R15：15歳未満は観覧禁止"></div>
                {% elseif title.getRating() == 4 %}
                    <div class="icon-r mr-2"><img src="/images/movie/r_18.svg" alt="R18：18歳未満は観覧禁止"></div>
                {% endif %}

                {% if 1 in title.getUniversal() %}
                    <div class="icon-onsei mr-2"><img src="/images/movie/ud_onsei.svg" alt="UDCast：音声ガイド対応"></div>
                {% endif %}
                {% if 2 in title.getUniversal() %}
                    <div class="icon-jimaku mr-2"><img src="/images/movie/ud_jimaku.svg" alt="UDCast：字幕ガイド対応"></div>
                {% endif %}
                </div>
            </div>
            <p class="small mb-3 text-red sp_disp movie_notes"><small>{{ schedule.getRemark() }}</small></p>
            <div class="movie-area">
                <div class="d-flex flex-wrap">
                {% for theater in theaters %}
                    {% set isShowing = false %}{# ループ前に宣言する #}

                    {% for showingTehater in schedule.getShowingTheaters %}
                        {% if showingTehater.getTheater().getId() == theater.getId() %}
                            {% set isShowing = true %}
                        {% endif %}
                    {% endfor %}

                    <div class="area-button mb-md-2 pr-md-2 mb-2 px-1 px-md-0 small font-weight-bold">
                    {% if isShowing %}
                        <a href="{{ path_for('theater', { name: theater.getName() }) }}" data-theaterCode="{{ theater.getId() }}" class="d-flex align-items-center justify-content-center bg-blue text-white border-blue">{{ theater|theater_name_ja2 }}</a>
                    {% else %}
                        <span class="d-flex align-items-center justify-content-center text-gray border-gray bg-transparent">{{ theater|theater_name_ja2 }}</span>
                    {% endif %}
                    </div>
                {% endfor %}
                </div>
                <div class="x-small">{{ title.getCredit() }}</div>
            </div>
        </div>
    </div>
</div>
